amarillo = #FBF300

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-r0u29');
	src:url('../fonts/icomoon.eot?#iefix-r0u29') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-r0u29') format('woff'),
		url('../fonts/icomoon.ttf?-r0u29') format('truetype'),
		url('../fonts/icomoon.svg?-r0u29#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	border-radius: 1em;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="icon-"], [class*=" icon-"]
	&:hover
		color white

.icon-googleplus:before {
	content: "\e600";
}
.icon-googleplus
	&:hover
		background-color red

.icon-facebook:before {
	content: "\e601";
}
.icon-facebook
	&:hover
		background-color #4c66a4
.icon-twitter:before {
	content: "\e602";
}
.icon-twitter
	&:hover
		background-color #0099CC
.icon-instagram:before {
	content: "\e603";
}
.icon-instagram
	&:hover
		background-color black
body
	background-color #CBCBCB
	color black
	font-family 'Helvetica'
	font-size 16px
	margin 0
	padding 0 3em
a 
	color black
	text-decoration none
	font-variant small-caps

footer
	background-color black
	background-image url(../imgs/img-footer.png)
	background-position left
	background-repeat no-repeat
	padding 0 1em
	height 22em
	#boton-abono
		display inline-block
		width 45%
		a
			float right
			margin 0.1em 0.1em 0 0
			position relative
			right 0.5em
			top 0
	#redes-footer
		display inline-block
		text-align center
		width 30%
		strong
			color amarillo
			display block
			font-size 2.2em
			margin 0.4em 0 1.5em
			padding 0
			text-align center
			font-variant small-caps
		span 
			color amarillo
			display block
			font-size 0.8em
			letter-spacing 0.1em
			margin 9em 0 .2em 0 
			padding 0
			text-align center
		p
			color white
			font-size 0.9em
			font-weight bold
			letter-spacing 0.1em
			margin 0 
			padding 0
			text-align center
	#redes-footer
		display inline-block
		[class^="icon-"], [class*=" icon-"]
			font-size 3em
			color white
			margin 0 0.1em
			width 30%
	#navegacion
		display inline-block
		width 23%
		float right
		padding-top 1em 
		p 
			font-size 1.2em
			color amarillo
			text-indent 2em
			font-variant small-caps
		ul
			list-style normal
			margin 3.5em 0 0
			li
				display block
				margin 1em 0
				a
					color white
					font-size 1em
					text-decoration underline
					&:hover
						color gray
input[type="password"]
	-moz-border-radius 3px
	-ms-border-radius 3px
	-o-border-radius 3px
	-webkit-border-radius 3px
	border 2px solid #999
	border-radius 3px
	font-size 18px
	font-variant small-caps
	height 1.95em
	line-height 1.5em
	text-indent 0.7em
	width 13.3em

input[type="text"]
	-moz-border-radius 3px
	-ms-border-radius 3px
	-o-border-radius 3px
	-webkit-border-radius 3px
	border 2px solid #999
	border-radius 3px
	font-size 18px
	font-variant small-caps
	height 1.95em
	line-height 1.5em
	text-indent 0.7em
	width 13.3em

input[type="date"]
	-moz-border-radius 3px
	-ms-border-radius 3px
	-o-border-radius 3px
	-webkit-border-radius 3px
	border 2px solid #999
	border-radius 3px
	font-size 18px
	font-variant small-caps
	height 1.95em
	line-height 1.5em
	text-indent 0.7em
	width 13.3em

input[type="search"]
	-moz-border-radius 3px
	-ms-border-radius 3px
	-o-border-radius 3px
	-webkit-border-radius 3px
	border 1px solid amarillo
	border-radius 3px
	font-size 16px
	font-variant small-caps
	height 1.87em
	line-height 1.5em
	text-indent 0.7em
	width 11.25em
input[type="checkbox"]
	height 2em
	width 1.5em
header
	background-color black
	background-image url(../imgs/aficion-header.png)
	background-repeat no-repeat
	background-size 35%
	background-position right bottom
	padding 0 1em
	h1
		color transparent
		display inline-block
		margin 0.2em 0 
		padding 0
		width 45%
	input[type="search"]
		margin  0.5em 0 0 5.8em
		position relative
	[class^="icon-"], [class*="icon-"]
		background-color black
		border-radius 1em
		color #C3C3C3
		font-size 1.8em
	#boton-sesion
		background-color white
		font-size 18px
		font-variant small-caps
		font-weight bolder
		padding 0.1em 0.8em
		position relative
		top -0.2em
		&:hover
			background-color amarillo
			color gray
	#botones-header
		position relative
		margin-top 5em
		text-align right
	#contenedor-botones
		display inline-block
		float right
	#logo
		background-image url(../imgs/logo-completo.png)
		background-position left center
		background-repeat no-repeat
		background-size 100%
		color transparent
		display inline-block
		height 9rem
		width 100%
h2
	font-variant small-caps
	font-size 2em
	font-weight bold
	display inline-block
	margin 0
	padding 0

main			
	background-color white
nav
	background-color amarillo
	font-size 18px
	ul 
		list-style none
		margin 0
		padding 0
		text-align center
		li 
			display inline-block
			vertical-align top
			a
				color: black;
				display: block;
				font-variant small-caps
				padding: 0.5em 3em;
				text-align: center;
				text-decoration: none;	
				border-bottom: solid 4px transparent;
				-o-transition: all .15s ease-in-out;
				-moz-transition: all .15s ease-in-out;
				-webkit-transition: all .15s ease-in-out;
				transition: all .15s ease-in-out;
				&:hover
					border-bottom: solid 4px black;	

	
.boton-abonate-medio 
	background: -moz-linear-gradient(top, rgba(229,49,0,1) 0%, rgba(150,31,0,1) 100%); /* FF3.6+ */
	background: -ms-linear-gradient(top, rgba(229,49,0,1) 0%,rgba(150,31,0,1) 100%); /* IE10+ */
	background: -o-linear-gradient(top, rgba(229,49,0,1) 0%,rgba(150,31,0,1) 100%); /* Opera 11.10+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,49,0,1)), color-stop(100%,rgba(150,31,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(229,49,0,1) 0%,rgba(150,31,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, rgba(229,49,0,1) 0%,rgba(150,31,0,1) 100%); /* W3C */
	color white
	font-size 2rem
	font-variant small-caps
	padding 0.1em 3em
	letter-spacing 0.1em
	line-height 1.6em
	text-decoration none
	&:hover
		background rgba(150,31,0,1)

.centro
	display block
	text-align center
	padding-bottom 2em
.titulo-secundario
	display block
	padding 2em 0 0
	text-align center
#bloque1
	display block
	background-color white
	padding 1em 1em 0 1em
	overflow hidden
	strong
		-moz-border outset 3px black
		-ms-border outset 3px black
		-o-border outset 3px black
		-webkit-border outset 3px black
		background-color amarillo
		border outset 3px black
		display block
		height 40px
		line-height 40px
		margin 0
		text-align center
		text-transform uppercase
		width 235px
	ul
		list-style none
		display block
		margin 1em 0
		padding 0
		text-align center
		li
			background-color #FEF276
			display block
			height 55px
			margin 0.4em auto
			width 218px
			figure
				background-image url(../imgs/cara-abonado.png)
				background-repeat no-repeat
				float left
				height 60px
				margin 0
				width 60px
			p 
				display block
				font-size 0.9em
				font-variant small-caps
				margin 0
				padding 0
				vertical-align top
	[class^="tabla"], [class*="tabla"]
		-moz-border solid 1px amarillo
		-ms-border solid 1px amarillo
		-o-border solid 1px amarillo
		-webkit-border solid 1px amarillo
		background-color white
		border solid 1px amarillo
		display inline-block
		padding 0
		vertical-align top
	.tabla1
		display inline-block
		margin-right 0.3em
	#boton-abonate-grande
		background: -moz-linear-gradient(top, rgba(229,49,0,1) 0%, rgba(150,31,0,1) 100%); /* FF3.6+ */
		background: -ms-linear-gradient(top, rgba(229,49,0,1) 0%,rgba(150,31,0,1) 100%); /* IE10+ */
		background: -o-linear-gradient(top, rgba(229,49,0,1) 0%,rgba(150,31,0,1) 100%); /* Opera 11.10+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,49,0,1)), color-stop(100%,rgba(150,31,0,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(229,49,0,1) 0%,rgba(150,31,0,1) 100%); /* Chrome10+,Safari5.1+ */
		background: linear-gradient(to bottom, rgba(229,49,0,1) 0%,rgba(150,31,0,1) 100%); /* W3C */
		color white
		display inline-block
		font-size 60px
		font-variant small-caps
		letter-spacing 3px
		line-height 60px
		padding 0.2em 0
		width 100%
		&:hover
			background rgba(150,31,0,1)
	#clasificacion
		display inline-block
		width 44%
		vertical-align top
		text-align center
		float right
	#slider
		display inline-block
		width 650px 
		height 400px
		margin 0 auto
		#img-slider
			background-image url(../imgs/slider-mediano.jpg)
			background-repeat no-repeat
			background-size 650px 318px
			display block
			height 320px
			vertical-align top
			width 650px 
		#option-slider
			display block
			padding 1em
			text-align center
			a
				background-color amarillo
				border-radius 50%
				display inline-block
				height 1em
				margin 0 0.3em
				text-indent -1000px
				width 1em
			.botones-activos
				background-color black				
#bloque2
	display block
	background-image url(../imgs/fondo-calendario.jpg)
	background-repeat no-repeat
	background-size 100% 96%
	margin 3em 0
	padding 1em 1em
	height 32em
	#calendario 
		background-color rgba(0,0,0,0.7)
		display inline-block
		padding 0 1rem
		width 51%
		height 95%
		h3
			color amarillo
			font-variant small-caps
			font-size 1.5em
		.jornadas	
			text-align left
			p
				display block
				color white
				font-variant small-caps
				font-size 1.6em
				margin 1.3em 0 0.2em 0
			span
				display block
				color white
				font-variant small-caps
				font-size 1.5em
				letter-spacing 0.1em
				text-indent 2.5em
	#timeline
		display inline-block
		float right
#bloque3
	display block
	margin 0
	padding 0 1em
	#entradas
		display inline-block
		height 30em
		width 50%
		#img-precios
			background-image url(../imgs/boletos.png)
			background-repeat no-repeat
			background-size 100%
			display block
			height 100%
			text-indent -1000px
		#precios 
			display inline-block
			float left
			left 2em
			position relative
			top -16.5em
			width 70%
			ul
				list-style none
				li
					margin 0.2em 0
					font-size 1.4em
					font-variant small-caps
					span
						float right
	#noticias
		display inline-block
		float right
		width 30%
		border 1px solid #C3C3C3
		-moz-border 1px solid #C3C3C3
		-o-border 1px solid #C3C3C3
		-webkit-border 1px solid #C3C3C3
		-ms-border 1px solid #C3C3C3
		section
			background-color white
			overflow-y scroll
			height 25em
			article
				display block
				padding 1em
				border-bottom 1px solid #C3C3C3
				-moz-border-bottom 1px solid #C3C3C3
				-o-border-bottom 1px solid #C3C3C3
				-webkit-border-bottom 1px solid #C3C3C3
				-ms-border-bottom 1px solid #C3C3C3
				overflow hidden
				p
					margin 0
				a
					float right
					text-decoration underline
					color blue
			article:nth-child(2n)
				background-color #fef276
		strong 
			display block
			background-color black
			color white
			font-size 1.3em
			padding 0.3em 
			text-indent 0.5em
			font-variant small-caps
	#patrocinantes
		display block
		padding 0 1em
		margin 0
		figure 
			margin 0
			padding 0

/* CONTENIDO GREGORI*/
section{
	list-style:none;
	background-color: white;
	overflow: hidden;
}
section ul{
	margin: 0em;
	padding: 0.4em 0.5em;
}
section ul li {
	list-style: none;
	background-color: #cbcbcb;
 }
section ul li a{
	font-size: 1.2em;
	padding: 0em 1em;
	color:black;
	font-weight normal
}
section #menu-adm{
	padding: 3em 0em 1em 1em;
	width: 20%;
	height: 300px;
	box-shadow: 1px -4px 3px 0px;
	display: inline-block;
	overflow: hidden;
}
section #menu-adm a:hover{
	text-decoration: none;
	background-color: #fff;
	color: #cbcbcb;
}
section li ul{
	display: none;
	min-width: 100px;
	margin-right: 0em;
}
section li:hover > ul{
  display: block;
}

.desplegable{
	background-color: #cbcbcb;
	color: white;
	font-weight bold
}
section #usuario-adm{
	background-image: url("../imgs/cara-abonado.png");
	background-repeat: no-repeat;
	width: 60px ;
	height: 60px;
	display: inline-block;
	margin-bottom: 1em;
}

section #rol{
	margin-top: 0.5em;
	display: inline-block;
	margin-left: 3.3em;
	font-size: 1.2em;
	font-family: monospace;
}
section #contenido{
	display: inline-block;
	width: 78%;
	float: right;
}
.titulo-adm{
	padding-top:1.5em; 
	font-size: 35px;
	text-align: center;
}
.CSSTableGenerator {
	margin:4em 5.5em;
	padding:0px;
	width:80%;
	border:1px solid #fbf300;
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table{
	border-collapse: collapse;
	border-spacing: 0;    
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}
.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}
.CSSTableGenerator tr:nth-child(odd) { 
	background-color:#fbf300; 
}
.CSSTableGenerator tr:nth-child(even) { 
	background-color:#ffffff; 
}
.CSSTableGenerator td{
	vertical-align:middle;
	border:1px solid #bfbf00;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:8px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width: 0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

/* PARTE JOSMAR */
#sesion
{
width: 100%;
height: 500px;
display: block;


}

#bloqueizquierda
{
width: 60%;
height: 100%;

display: inline-block;
float: left;

}
#bloquederecha
{
width: 35%;
height: 100%;

display: inline-block;
float: right;

}

#eslogan{

margin-top: 100px;
margin-left: 10%;

}

#usuario
{

margin-top: 35%;
margin-left: 20%;
}

#usuario2
{

  margin-left: 20%;
}

.boton{
    background:#0D98FB;
    background-image: -webkit-linear-gradient(top,#0D98FB,#1A5DB3);
    background-image: -moz-linear-gradient(top,#0D98FB,#1A5DB3);
    background-image: -o-linear-gradient(top,#0D98FB,#1A5DB3); 
    background-image: linear-gradient(to bottom,#0D98FB,#1A5DB3);  
    border: 1px solid #125CB5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px; 
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #71C0FD inset;
    -webkit-box-shadow: 0 1px 1px #71C0FD inset;
    -o-box-shadow: 0 1px 1px #71C0FD inset;
    box-shadow: 0 1px 1px #71C0FD inset;
    padding: .8em 1.8em;
    color: white;
    font-weight:normal;
    text-decoration:none;
     
    margin-left: 25%;
}
.boton:hover {
    background:#1A5DB3;
    background-image: -webkit-linear-gradient(bottom,#0D98FB,#1A5DB3);
    background-image: -moz-linear-gradient(bottom,#0D98FB,#1A5DB3);
    background-image: -o-linear-gradient(bottom,#0D98FB,#1A5DB3);  
    background-image: linear-gradient(to top,#0D98FB,#1A5DB3);
    cursor: pointer;
}

#link1
{
margin-left: 20%;

}

#borde
{
width: 0.2%;
height: 100%;
background-color: #000000;
display: inline-block;

}

#top
{

width: 100%;
height: 250px;
display: block;

}

#ground
{
width: 100%;
height: 350px;
display: block;
}

#bienvenida #bienve
{
font-size: 60px;
padding: 7%;
float: left;
margin-left: 5%;
}

#informacion
{
width: 40%;
height: 60%;
float: right;
margin-right: 5%; 
margin-top: 4%; 
border-width: 2px;
border-style: solid;
border-color: #000000;
display: block;
}

#foto
{
width: 30%;
height: 90%;

float: left;
display: block;
margin-top: 10%;
margin-left:15%;
background-image: url("../imgs/cara-abonado.png");
background-repeat: no-repeat;
background-position: auto;
}

#usua{

font-size: 25px;
float: left;
}

#usua #usuar
{
float: right;
margin-left: 5%;
margin-top: 30%;
margin-right: 30%;

}

#ground #mensaje22
{

font-size: 40px;
padding-top: 10%;
padding-left: 10%;
}

#bot22{
margin-left: 60%;
margin-top: 5%;

}


/* PARTE JUNIOR */

#b-login {

  color: #000;
  background-color:#EADA15 ;
  margin: 90px;
  margin-bottom: 50px;
  padding: 20px 70px;
}

#izq{
width: 40%;
float: left;
margin: 50px;

}
#izq h2{

text-align: left;
text-align: center;
}

#izq a{
  text-align: justify;
  display block
}

section #indice-r{
width: 550px;
margin-top: 50px;
margin-right: 50px;
float: right;

}
section #indice-r a
	display block

div.terminos{
 width: 40%;
 margin: 50px 50px 50px 50px;
 margin-top: 100px;
}

#b-login {

  color: #000;
 background: rgb(252,234,187); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(50%,rgba(252,205,77,1)), color-stop(51%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* W3C */
  margin: 90px;
  margin-bottom: 50px;
  padding: 20px 70px;
}
#bloque5 div {
  display: inline-block;
  width: 44%;
  vertical-align: top;
  text-align: center;
  float: left;

}

#form1_contact #formu-button{width:30%;height:30px;color:#000;box-shadow:0px 0px 5px #000;cursor:pointer;font-family:geometr415_blk_btblack;font-size:17px;background:#FECC0E;background:-moz-linear-gradient(top, #FCDB00, #FF9900);background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FCDB00), to(#FF9900));border:1px solid #E0C62C;-moz-box-shadow:inset 0px 0px 1px #edf9ff;-webkit-box-shadow:inset 0px 0px 1px #edf9ff;box-shadow:inset 0px 0px 1px #edf9ff;border-radius:5px;}
#form1_contact table{border:0;}
#form1_contact{width:600px;margin-left:50px;font-family:geometr415_blk_btblack;}
#form1_contact table td{border:0;font-size:16px;}
#form1_contact table td input{width:70%;font-size:12px;background-color:#fff;margin-left:20px;color:#000;}
#form1_contact table td textarea{width:70%;background-color:#fff;resize:none;margin-left:20px;color:#000;}
.entry-content h1,
.entry-content h2,
.comment-content h1,
.comment-content h2{color:#000;font-weight:bold;margin:0 0 .8125em;}
.entry-content h3,
.comment-content h3{font-size:10px;letter-spacing:0.1em;line-height:2.6em;}
.entry-content table,
.comment-content table{border-bottom:1px solid #ddd;margin:0 0 1.625em;width:100%;}
.entry-content th,
.comment-content th{color:#666;font-size:10px;font-weight:500;letter-spacing:0.1em;line-height:2.6em;}
.entry-content td,
.comment-content td{border-top:1px solid #ddd;padding:6px 10px 6px 0;}
h2{ text-align: center;}
#paso1{
   background-image: url("../imgs/registro.png");
  background-position: left top;
  background-repeat: no-repeat;
  color: transparent;
  display: inline-block;
  height: 20rem;
  left:100%;
  width: 100%;
}
#paso1 h6{
   position: absolute;
   top: 250px;
   right:50px;
   width:50;
   text-align: center;
   
}
#paso2{
   background-image: url("../imgs/seleccion.png");
  background-position: right center;
  background-repeat: no-repeat;
  color: transparent;
  display: inline-block;
  height: 20rem;
  left:100%;
  width: 100%;
}
#paso3{
   background-image: url("../imgs/calendario.png");
  background-position: left center;
  background-repeat: no-repeat;
  color: transparent;
  display: inline-block;
  height: 20rem;
  left:100%;
  width: 100%;
}
#paso4{
   background-image: url("../imgs/carnet.png");
  background-position: right;
  background-repeat: no-repeat;
  color: transparent;
  display: inline-block;
  height: 20rem;
  left:100%;
  width: 100%;
}


/* PARTE NATHALY */
#Fechas >div{
 
 margin: 50px 50px 100px 100px;
 float: left;

}



#Fecha1  {

width: 370px;
height: 80px;
display: block;
color: white;
border-radius: 7px 7px 7px 7px;
margin: 10px;

background: url(../imgs/j1.jpg) no-repeat;
}

#Fecha1 a {


color: black;
margin-top: 5px;
margin-left: 5px;

}

#Fecha2  {

width: 370px;
height: 80px;
display: block;
color: white;
border-radius: 7px 7px 7px 7px;
margin: 10px;

background: url(../imgs/j2.jpg) no-repeat;
}

#Fecha2 a {


color: black;
margin-top: 5px;
margin-left: 5px;

}
#Fecha2 #border1 {
  border-left: 2px solid #C0C0C0;
  width: 300px;
  height:1300px;
  margin-left: -90px;
}

#Fecha3  {

width: 370px;
height: 80px;
display: block;
color: white;
border-radius: 7px 7px 7px 7px;
margin: 10px;

background: url(../imgs/j3.jpg) no-repeat;

}
#Fecha3 #border {
  border-left: 2px solid #C0C0C0;
  width: 300px;
  height: 1300px;
  margin-left: -90px;
}
#Fecha3 a {


color: black;
margin-top: 5px;
margin-left: 5px;

}


#Fecha4  {

width: 370px;
height: 80px;
display: block;
color: white;
border-radius: 7px 7px 7px 7px;
margin: 10px;

background: url(../imgs/j4.jpg) no-repeat;
}

#Fecha4 a {


color: black;
margin-top: 5px;
margin-left: 5px;

}


#Fecha5  {

width: 370px;
height: 80px;
display: block;
color: white;
border-radius: 7px 7px 7px 7px;
margin: 10px;

background: url(../imgs/j5.png) no-repeat;
}

#Fecha5 a {


color: black;
margin-top: 5px;
margin-left: 5px;

}

#Fecha6  {

width: 370px;
height: 80px;
display: block;
color: white;
border-radius: 7px 7px 7px 7px;
margin: 10px;

background: url(../imgs/j6.png) no-repeat;
}

#Fecha6 a {


color: black;
margin-top: 5px;
margin-left: 5px;

}

#Fecha7  {

width: 370px;
height: 80px;
display: block;
color: white;
border-radius: 7px 7px 7px 7px;
margin: 10px;

background: url(../imgs/j7.png) no-repeat;
}

#Fecha7 a {


color: black;
margin-top: 5px;
margin-left: 5px;

}



#Fecha8  {

width: 370px;
height: 80px;
display: block;
color: white;
border-radius: 7px 7px 7px 7px;
margin: 10px;

background: url(../imgs/j8.png) no-repeat;
}

#Fecha8 a {


color: black;
margin-top: 5px;
margin-left: 5px;

}



#Fecha9  {

width: 370px;
height: 80px;
display: block;
color: white;
border-radius: 7px 7px 7px 7px;
margin: 10px;

background: url(../imgs/j9.png) no-repeat;
}

#Fecha9 a {


color: black;
margin-top: 5px;
margin-left: 5px;

}

#Fecha10 {

width: 370px;
height: 80px;
display: block;
color: white;
border-radius: 7px 7px 7px 7px;
margin: 10px;

background: url(../imgs/j10.png) no-repeat;
}

#Fecha10 a {


color: black;
margin-top: 5px;
margin-left: 5px;

}


#Fecha11 {

width: 370px;
height: 80px;
display: block;
color: white;
border-radius: 7px 7px 7px 7px;
margin: 10px;

background: url(../imgs/j11.png) no-repeat;
}

#Fecha11 a {


color: black;
margin-top: 5px;
margin-left: 5px;

}


#Fecha12 {

width: 370px;
height: 80px;
display: block;
color: white;
border-radius: 7px 7px 7px 7px;
margin: 10px;

background: url(../imgs/j12.png) no-repeat;
}

#Fecha12 a {


color: black;
margin-top: 5px;
margin-left: 5px;

}

#Fecha13 {

width: 370px;
height: 80px;
display: block;
color: white;
border-radius: 7px 7px 7px 7px;
margin: 10px;

background: url(../imgs/j13.png) no-repeat;
}

#Fecha13 a {


color: black;
margin-top: 5px;
margin-left: 5px;

}



#Fecha14 {

width: 370px;
height: 80px;
display: block;
color: white;
border-radius: 7px 7px 7px 7px;
margin: 10px;

background: url(../imgs/j14.png) no-repeat;
}

#Fecha14 a {


color: black;
margin-top: 5px;
margin-left: 5px;

}

#Fecha15 {

width: 370px;
height: 80px;
display: block;
color: white;
border-radius: 7px 7px 7px 7px;
margin: 10px;

background: url(../imgs/j15.png) no-repeat;
}

#Fecha15 a {


color: black;
margin-top: 5px;
margin-left: 5px;

}

#Fecha16 {

width: 370px;
height: 80px;
display: block;
color: white;
border-radius: 7px 7px 7px 7px;
margin: 10px;

background: url(../imgs/j16.png) no-repeat;
}

#Fecha16 a {


color: black;
margin-top: 5px;
margin-left: 5px;

}

#Fecha17 {

width: 370px;
height: 80px;
display: block;
color: white;
border-radius: 7px 7px 7px 7px;
margin: 10px;

background: url(../imgs/j17.jpg) no-repeat;
}

#Fecha17 a {


color: black;
margin-top: 5px;
margin-left: 5px;

}

 section #subindice {
width: 300px;
margin: auto;
float: left;
}
section #indice-izq {

  width: 300px;
  float: left;
  margin-bottom: 10px;
  margin: 50px;
}
section #indice-izq h2 {
  text-align: left;
  color: black;
  text-align: center;
  
}
div.datos-personales{
  width: 300px;
  float: left;
  margin: 50px;
}
section #subindic {
width: 300px;
margin-top: 50px;
margin-left: 350px;
float: left;

}
section #indice-c {


  margin-bottom: 50px;
  margin-top: 50px;
}

div.login{
 width: 300px;
  float: right;
 margin: 50px;
 margin-left: 350px;

}


section #subindice-r {
width: 300px;
margin-top: 50px;
float: right;

}
section #indice-r {


  margin-bottom: 10px;
  margin-top: 50px;
  margin-right: 50px;
}
section #indice-c h2 {

 text-align: center;
}
div.terminos{
  width: 300px;
  float: right;
 margin: 50px;
}