amarillo = #FBF300

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-r0u29');
	src:url('../fonts/icomoon.eot?#iefix-r0u29') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-r0u29') format('woff'),
		url('../fonts/icomoon.ttf?-r0u29') format('truetype'),
		url('../fonts/icomoon.svg?-r0u29#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-googleplus:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e601";
}
.icon-twitter:before {
	content: "\e602";
}
.icon-feed:before {
	content: "\e603";
}
body
	background-color #CBCBCB
	color black
	font-family Tahoma,Geneva,Kalimati,sans-serif;
	font-size 16px
	margin 0
	padding 0 3em
a 
	color black
	text-decoration none
footer
	background-color black
	background-image url(../imgs/img-footer.png)
	background-position left
	background-repeat no-repeat
	background-size 25% 100%
	padding 0 1em
	height 18em
	vertical-align top
	#boton-abono 
		display inline-block
		width 45%
		a
			background-color #D42100 
			float right
			position relative
			right 2em
			color white
			font-size 2em
			font-variant small-caps
			letter-spacing 0.1em
			line-height 1.6em
			margin 0.1em 0.1em 0 0
			padding 0.1em 2.5em
	#redes-footer
		display inline-block
		text-align center
		width 30%
		strong
			color amarillo
			display block
			font-size 2.2em
			margin 0.4em 0 1.5em
			padding 0
			text-align center
		span 
			color amarillo
			display block
			font-size 0.8em
			letter-spacing 0.1em
			margin 5.5em 0 .2em 0 
			padding 0
			text-align center
		p
			color white
			font-size 0.9em
			font-weight bold
			letter-spacing 0.1em
			margin 0 
			padding 0
			text-align center
		[class^="icon-"], [class*=" icon-"]
			color white
			font-size 3em
			margin 0 0.1em
	#boton-abono 
		display inline-block
		width 40%
		a
			background-color #D42100 
			color white
			font-size 1.4em
			font-variant small-caps
			letter-spacing 0.2em
			line-height 1.4em
			margin 0.1em 0.1em 0 0
			padding 0.2em 2.2em
	#redes-footer
		display inline-block
		[class^="icon-"], [class*=" icon-"]
			font-size 3em
			color white
			margin 0 0.1em
			width 30%
	#navegacion
		display inline-block
		width 23%
		float right
		padding-top 1em 
		p 
			font-size 1em
			color amarillo
			text-indent 3em
		ul
			list-style normal
			margin 2.5em 0 0
			li
				display block
				margin 0.7em
				a
					color white
					font-size .8em
					text-decoration underline
header
	background-color black
	background-image url(../imgs/aficion-header.png)
	background-repeat no-repeat
	background-position right bottom
	h1
		color transparent
		display inline-block
		margin 0.2em 0 0.2em 0.2em
		padding 0
	input
		color black		
		margin  0.5em 0.3em 0 5.8em
		height 1.7em
		position relative
		width 13em
	[class^="icon-"], [class*=" icon-"]
		background-color black
		border-radius 0.9em
		color #C3C3C3
		font-size 1.8em
	#boton-sesion
		background-color white
		font-size 18px
		font-variant small-caps
		font-weight bolder
		padding 0.1em 0.8em
		position relative
		top -0.2em
	#botones-header
		position relative
		margin 4.5em 0.3em 0 0
		text-align right
	#contenedor-botones
		display inline-block
		float right
	#logo
		background-image url(../imgs/logo-completo.png)
		background-position left top
		background-repeat no-repeat
		color transparent
		display inline-block
		height 140px
		width 540px
main			
	display block
	background-color white
nav
	background-color amarillo
	font-size 20px
	ul 
		list-style none
		margin 0
		padding 0
		text-align center
		li 
			display inline-block
			vertical-align top
			a
				color: black;
				display: block;
				font-variant small-caps
				padding: 0.4em 3.5em;
				text-align: center;
				text-decoration: none;	
				border-bottom: solid 4px transparent;
				-o-transition: all .15s ease-in-out;
				-moz-transition: all .15s ease-in-out;
				-webkit-transition: all .15s ease-in-out;
				transition: all .15s ease-in-out;
			a:hover
				border-bottom: solid 4px black;		

#bloque1
	display block
	background-color white
	padding 1em 1em 0 1em
	overflow hidden
	strong
		-moz-border outset 3px black
		-ms-border outset 3px black
		-o-border outset 3px black
		-webkit-border outset 3px black
		background-color amarillo
		border outset 3px black
		display block
		height 40px
		line-height 40px
		margin 0
		text-align center
		text-transform uppercase
		width 235px
	ul
		list-style none
		display block
		margin 1em 0
		padding 0
		text-align center
		li
			background-color #FEF276
			display block
			height 55px
			margin 0.4em auto
			width 218px
			figure
				background-image url(../imgs/cara-abonado.png)
				background-repeat no-repeat
				float left
				height 60px
				margin 0
				width 60px
			p 
				display block
				font-size 0.9em
				font-variant small-caps
				margin 0
				padding 0
				vertical-align top
	[class^="tabla"], [class*="tabla"]
		-moz-border solid 1px amarillo
		-ms-border solid 1px amarillo
		-o-border solid 1px amarillo
		-webkit-border solid 1px amarillo
		background-color white
		border solid 1px amarillo
		display inline-block
		padding 0
	.tabla1
		float left
		margin-right 0.3em
	#boton-abonate
		background-color #D42100 
		clear both
		color white
		float right
		font-size 60px
		font-variant small-caps
		font-weight 300
		letter-spacing 3px
		line-height 60px
		margin 0.1em 0.1em 0 0
		padding 0.2em 2.31em
	#clasificacion
		display inline-block
		float right
	#slider
		display inline-block
		width 650px 
		height 400px
		margin 0 auto
		#img-slider
			background-image url(../imgs/slider-mediano.jpg)
			background-repeat no-repeat
			background-size 650px 318px
			display block
			height 320px
			vertical-align top
			width 650px 
		#option-slider
			display block
			padding 1em
			text-align center
			a
				background-color amarillo
				border-radius 50%
				display inline-block
				height 1em
				margin 0 0.3em
				text-indent -1000px
				width 1em
			.botones-activos
				background-color black				
#bloque2
	display block
	background-image url(../imgs/fondo-calendario.jpg)
	background-repeat no-repeat
	background-size 100% 100%
	margin 3em 0
	width 100%
	height 32em
	#calendario 
		background-color rgba(0,0,0,0.7)
		display inline-block
		margin 1rem
		width 52%
		height 90%
	#timeline
		display inline-block
		float right
#bloque3
	display block
	margin 3em 1em
	width 100%
	#entradas
		display inline-block
		width 50%
		height 30em
		#img-precios
			display block
			background-image url(../imgs/boletos.png)
			background-repeat no-repeat
			background-size 100%
			text-indent -1000px
			width 100%
			height 100%
	#noticias
		display inline-block
