header,nav,footer,#menu-adm{
	display: none;
}


.titulo-adm{
	text-align: center;
	font-family: Arial, sans-serif;
  	font-size: 10pt;
}
.oculto p{color: black;}
.CSSTableGenerator {
  margin: 4em 5.5em;
  padding: 0px;
  width: 80%;
  border: 1px solid #fbf300;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
}
.CSSTableGenerator table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.CSSTableGenerator tr:last-child td:last-child {
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
.CSSTableGenerator tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.CSSTableGenerator tr:nth-child(odd) {
  background-color: #fbf300;
}
.CSSTableGenerator tr:nth-child(even) {
  background-color: #fff;
}
.CSSTableGenerator td {
  vertical-align: middle;
  border: 1px solid #bfbf00;
  border-width: 0px 1px 1px 0px;
  text-align: center;
  padding: 8px;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  color: #000;
}
.CSSTableGenerator tr:hover {
  background-color: #cbcbcb;
}
.CSSTableGenerator tr:last-child td {
  border-width: 0px 1px 0px 0px;
}
.CSSTableGenerator tr td:last-child {
  border-width: 0px 0px 1px 0px;
}
.CSSTableGenerator tr:last-child td:last-child {
  border-width: 0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td:first-child {
  border-width: 0px 1px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child {
  border-width: 0px 0px 1px 1px;
}
.CSSTableGenerator tr:first-child {
  background-color: #fff;
}